<div class="center-block">
  <div class="page-header">
    <h4>글 수정</h4>
  </div>

  <% @doodle.contents.gsub!(/<br>/i,"\r\n") %>

  <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <strong>오류 :</strong> <%= flash[:alert] %>
      </div>
  <% end %>

  <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <strong>확인 :</strong> <%= flash[:success] %>
      </div>
  <% end %>

  <div class="form-horizontal">
    <%= form_for @doodle do |f| %>
        <div class="form-group form-group-lg">
          <%= f.label :title, "제목", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control", placeholder: "제목을 입력하세요." %>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <%= f.label :contents, "내용", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_area :contents, class: "form-control", rows: 20, placeholder: "내용을 입력하세요." %>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <%= f.label :tags, "태그", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :tags, class: "form-control", placeholder: "#EDM" %>
          </div>
        </div>
        <%= f.submit "수정", class: "btn btn-primary center-block" %>
    <% end %>
  </div>
</div>