<footer>
  <nav class="nav-bar navbar-inverse navbar-darkgray">
    <div class="container">
          <div class="pull-left">
            <ul class="nav navbar-nav navbar-left">
              <li><p class="navbar-text">&copy; 2015 MuzMongki</p></li>
              <li><%= link_to "회사소개", '#' %></li>
              <li><%= link_to "광고문의", '#' %></li>
              <li><%= link_to "이용약관", '#' %></li>
              <li><%= link_to "개인정보취급방침", '#' %></li>
            </ul>
          </div>
          <div class="pull-right" style="padding: 4px">
            <ul class="nav navbar-nav navbar-right">
              <li><img alt="Mongki" src="<%= image_url('logo_40x40.png') %>"></li>
            </ul>
          </div>
    </div>
  </nav>
</footer>